.is-loading {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .is-loading,
  .is-game-over {
    position: absolute;
    top: 30vh;
    left: 30vw;
    width: 50vw;
    height: 80vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      margin-top: -100px;
  }
}
  
  .is-game-over {
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: flex-start;
    align-items: center;
  }
  