.is-loading,
.is-game-over {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-top: -100px;
    }
}
