<div class="is-loading" *ngIf="!gameLoaded()">
    <img src="assets/images/loading.png" />
</div>
<div class="is-game-over" *ngIf="gameOver()">
    <img src="assets/images/gameover.png" />
</div>

<div class="row">
    <div class="col-md-10">
        <div class="playground-background">
            <div id="playground"></div>
        </div>
    </div>
    <div class="col-md-2">
        <gamestart></gamestart>
        <div *ngIf="!suddenDeath" class="well">
            <span id="time"></span>
        </div>
        <div id="sudden-death" *ngIf="suddenDeath" class="well">
            Suddendeath
        </div>
      <highscore></highscore>
    </div>
</div>