<div class="is-loading" *ngIf="!gameLoaded()">
    <img src="assets/images/loading.png" />
</div>
<div class="is-game-over" *ngIf="gameOver()">
    <img src="assets/images/gameover.png" />
</div>

<div class="row" [hidden]="gameLoaded()">
    <div class="col-md-9">
        <div class="playground-background">
            <div id="playground"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <span id="time"></span>
        </div>
        <highscore></highscore>
    </div>
</div>
