<div id="userName" [hidden]="inputPlayerName">{{playerDataService.getPlayerName()}}</div>

<button id="start" class="btn-default" (click)="toggleGameStart()" [hidden]="playerDataService.getPlayerName()">
  START GAME
</button>

<div [hidden]="!inputPlayerName">
  <input [(ngModel)]="playerName"
         minlength="1"
         maxlength="20"
         placeholder="Nickname"
         class="form-input"
         required>
  <button id="bomb" class="btn-default" (click)="beginGame()">Let's bomb!</button>
</div>

<avatar></avatar>