.list {
    border: 3px solid lighten(#ccc, 20%);
    border-radius: 3px;
    font-size: 1.2rem;
  }

  .list-header {
      text-align: center;
      font-family: 'Monoton', cursive;
      font-size: 1.5rem;
      padding: 8px 0;
      background-color: #333;
      border-bottom: 1px solid lighten(#ccc, 20%);
  }
  
  .list-element {
    padding: 8px;
    border-bottom: 1px solid lighten(#ccc, 20%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .list-element:last-child {
    border: none;
  }